.logo{
    background-image: url(img/pattern.png);
    background-size: 450px;
    background-color: rgb(37, 165, 216);
}

.logo-img{
    padding-top: 50px;
    height: 60px;
}

main{
    font-size: 1.2rem;
}

.title{
    margin-bottom: 5px;
    font-size: 2.5rem;
}

.gray{
    color: grey;
}

.skyblue{
    color: rgb(37, 165, 216);
}

.light-blue-background{
    background-color: rgb(143, 213, 236);
}

.credits{
    margin-top: 0px;
    margin-bottom: 30px;
}

.highlight{
    background-color: yellow;
}

.long-text{
    margin-top: 20px;
    margin-bottom: 40px;
}

ul{
    padding-left: 15px;
}

thead{
    background-color: rgb(37, 165, 216);
    color: white;
}

.small-column{
    width: 300px;
}
