.logo{
    background-image: url(img/pattern.png);
    background-size: 450px;
    background-color: rgb(37, 165, 216);
}

.footer-img1{
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    height: 208px;
}

.footer-img2{
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    height: 208px;
}

.logo-img{
    margin-top: 50px;
    height: 60px;
}

main{
    font-size: 1.2rem;
}

.title{
    margin-bottom: 5px;
    font-size: 2.5rem;
}

.small-txt{
    font-size: 0.8rem;
}

.small-title{
    font-size: 1.7rem;
}

.grey{
    color: grey;
}

.light-grey{
    color: lightgray;
}

.skyblue{
    color: rgb(37, 165, 216);
}

.light-blue-background{
    background-color: rgb(143, 213, 236);
}

.credits{
    margin-top: 0px;
    margin-bottom: 30px;
}

.highlight{
    background-color: yellow;
}

.long-text{
    margin-top: 20px;
    margin-bottom: 40px;
}

ul{
    padding-left: 15px;
}

thead{
    background-color: rgb(37, 165, 216);
    color: white;
}

table{
    border-collapse: collapse;
}

.small-column{
    width: 25% ;
}

.center-txt{
    padding-left: 10px;
    padding-top: 10px;
}